<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982034866776-h1homvjfls7e8h88hd13pc92g2aqv1qq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982034866776-h1homvjfls7e8h88hd13pc92g2aqv1qq</string>
	<key>API_KEY</key>
	<string>AIzaSyAmpAli-3tRQ291DXFGW4QQzCXmkiUhTIM</string>
	<key>GCM_SENDER_ID</key>
	<string>982034866776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Wakeb.QuranApp</string>
	<key>PROJECT_ID</key>
	<string>quranapp-9fde0</string>
	<key>STORAGE_BUCKET</key>
	<string>quranapp-9fde0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982034866776:ios:374466987e805bd714a02d</string>
</dict>
</plist>